<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["css/healthcare-ant-enterprise.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["HealthCare.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="hc-body">
    <Routes @rendermode="InteractiveServer" />
    <AntContainer @rendermode="InteractiveServer" />
    <ReconnectModal @rendermode="InteractiveServer" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="@Assets["js/healthcare-shell.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
